{{> header }}

<link rel="stylesheet" href="/css/about.css" />
</head>

<body>
  {{> nav}}

  <main>
    <h3 class="aboutHeader">Serving latest accurate weather data. We got you covered!</h3>
    <img class="expWeatherImg" src="/images/express-weather.png" alt="Express Weather Image" width="300px"
      height="100px" />
    <h3>App developed and maintained by {{ authorName }}</h3>
  </main>


  {{> footer }}