<nav>
  <h3 class="nav-brand">
    <a href="/">Express Weather</a>
  </h3>
  <ul class="nav-list">
    <li class="nav-item">
      <a class="{{isIndex}}" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="{{isAbout}}" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="{{isHelp}}" href="/help">Help</a>
    </li>
  </ul>
</nav>