<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Help</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/help.css">
</head>

<body>
  <h3>Api and Server Help-Desk</h3>
  <ul>
    <li>
      <strong>adminServer</strong>
      <span> || </span>
      <span>Help at your finger tips!</span>
    </li>
    <li>
      <strong>apiManager</strong>
      <span> || </span>
      <span>Configuration help available</span>
    </li>
  </ul>
</body>

</html>