<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Weather Express App</title>
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
  <nav>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="/">Express-Weather</a>
      </li>
      <li class="nav-item">
        <a href="/about">About</a>
      </li>
      <li class="nav-item">
        <a href="/help">Help</a>
      </li>
    </ul>
  </nav>
  <h1>Welcome to Express Weather</h1>
  <button id="toggleBtn">Hide Image</button>
  <button id="shuffleBtn">Shuffle Image</button>
  <div class="imageDiv">
    <img class="image" src="https://source.unsplash.com/400x300/?weather" alt="Weather Image" width="400px"
      height="300px" />
  </div>

  <script src="/js/app.js"></script>
</body>

</html>